* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #162831;
    width: 1280px;
    margin: 0 auto;
    font-family: "Proxima Nova", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: white;
}
nav a {
    color: white;
}
.addCurse {
    background-color: #018ABE;
    border-radius: 3px;
    padding: 9px 15px;
    font-size: 13px;
}
nav {
    display: flex;
    gap: 50px;
}
nav a,
.addCurse {
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-bottom: #0188be00 solid 2px;
    transition: all .1s linear;
}
.banner {
    background-image: url(/img/unsplash_S-llxYh3GzI.svg);
    background-size: 100%;
    height: 328px;
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 136px ;
    border-radius: 10px;
}
.banner h2::before {
    content: url(/img/Rectangle\ 3.svg);
    margin-right: 66px;
}
.banner h2::after {
    content: url(/img/Rectangle\ 5.svg);
    margin-left: 66px;
}
.banner h2 {
    font-size: 24px;
    font-weight: 700;
}
.banner h1 {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}
h1, h2 {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}
#seanse {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 100px;
}
.title {
    font-size: 42px;
    display: flex;
    align-items: center; 
}
.title::before{
    content: url(/img/Rectangle\ 6.svg);
    margin-right: 45px;
}
.title::after{
    content: url(/img/Rectangle\ 7.svg);
    margin-left: 45px;
}
#seanse h2 {
    font-size: 24px;
    display: flex;
}
.seanse {
    display: grid;
    grid-template-columns: repeat(3, 416px);
    grid-template-rows: repeat(2, 258px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    
    }
    
    .block_1 { 
    grid-area: 1 / 1 / 3 / 2; 
    height: 540px;
    width: 416px;
    background-image: url(/img/unsplash_TnOyyEtrKd0.svg);
    display: flex;
    align-items: end;
    border-radius: 10px;
}
    .block_2 { 
        grid-area: 1 / 2 / 2 / 3; 
        height: 258px;
        width: 416px;
        background-image: url(/img/блок.svg);
        display: flex;
    align-items: end;
    border-radius: 10px;
    

    ;
    }
    .block_3 { grid-area: 1 / 3 / 2 / 4; 
        height: 258px;
        width: 416px;
        background-image: url(/img/блок.svg);
        display: flex;
    align-items: end;
    border-radius: 10px;
    }
    .block_4 { grid-area: 2 / 2 / 3 / 3; 
        height: 258px;
        width: 416px;
        background-image: url(/img/блок.svg);
        display: flex;
    align-items: end;
    border-radius: 10px;
    }
    .block_5 { grid-area: 2 / 3 / 3 / 4; 
        height: 258px;
        width: 416px;
        background-image: url(/img/блок.svg);
        display: flex;
    align-items: end;
    border-radius: 10px;
    }
    .seanse h2  {
        margin: 194px 40px 30px 40px;
        font-weight: 100;
    }
   #feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.feedback {
    display: flex;
    height: 585px;
    width: 1736px;
    gap:50px;
    justify-content: center;
    align-items: center;
}
.feed1 {
    height: 276px;
    width: 585px;
    border-radius: 10px;
    background-color:rgba(1, 138, 190, 1);
    opacity: 30%;

}
.feed2 {
    height: 350px;
    width: 636px;
    border-radius: 10px;
    background-color:rgba(1, 138, 190, 1);
}
.feed1 h3 {
    color: white;
    size: 16px;
    margin: 40px 45px 15px 45px;
}
.feed1 p {
    color: white;
    size: 10px;
    margin: 0px 45px 71px 45px;
    text-align: justify;
}
.feed2 h3 {
    color: white;
    size: 20px;
    margin: 50px 60px 20px 60px;
}
.feed2 p {
    color: white;
    size: 14px;
    margin: 0px 60px 56px 60px;
    text-align: justify;}
    
    .control {
        display: flex;
        align-self: center;
        margin: 60px ;
    }